*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #1c1942;
    color: white;
    font-family: "Ruda";
}
ul,ol{
    list-style: none;
}
button{
    cursor: pointer;
}
a{
    text-decoration: none;
}
.conteyner{
    max-width: 1200px;
    min-width: 320px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}