.login{
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}
.login__wraper{
    background: #231942;
    width: 350px;
    height: 500px;

    display: grid;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    border: 2px solid #2a2a48;
    transition: ease-in 0.3s;
    cursor: pointer;
}
.login_logo{
    margin-bottom: -30px;
    margin-top: -20px;
}
.login__wraper:hover{
    box-shadow: #38386b 2px 2px 3px 0px;
}
.login__form{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
}
.login__form > .login__content{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 3px;
}
.login_input{
    background: transparent;
    width: 300px;
    height: 45px;
    padding: 0 10px;
    border-radius: 6px;
    outline: none;
    border: #38386b 1px solid;

    color: #dfdffd;
    font-size: 12px;
    transition: ease-in 0.3s;
}
.login_input:focus{
    box-shadow: #38386b 2px 2px 3px 0px;
    transform: scale(103%);
}
.login_input::placeholder{
    color: #9595c4;
}
.login_label{
    font-weight: 600;
    color: #dfdffd;
}
.login_btn{
    background: transparent;
    width: 300px;
    height: 40px;
    padding: 0 10px;
    border-radius: 6px;
    outline: none;
    border: #38386b 1px solid;

    color: #dfdffd;
    font-size: 14px;
    transition: ease-in 0.3s;
}
.login_btn:hover{
    box-shadow: #38386b 1px 1px 2px 0px;
    transform: scale(103%);
}
.login_small{
    color: #dfdffd;
    font-size: x-small;
}